<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>ABC Shop</title>
      <link rel="stylesheet" href="C:\\Users\\PRAVEENA\\abc-shop\\public\\css\\style.css">
</head>
<body>
  <header>
    <h1>ABC Shop Inventory</h1>
    <nav>
      <a href="/">Home</a> |
      <a href="/items/add">Add New Item</a>
    </nav>
    <hr />
  </header>
  {{{body}}}
</body>
</html>
